.jdd.dropdown-trigger {
    &:is(div) {
        height: max-content;
        width: max-content;
    }

    &.jdd.button {
        gap: .5rem;
    }

    .dropdown-trigger-icon {
        transition: transform var(--jdd-transition-duration) var(--jdd-transition-function);
        display: flex;
        align-items: center;
        margin: 0 -.5rem;
        pointer-events: none;
        line-height: 1.25rem;
        font-size: 1.25rem;
    }

    &[data-expanded] .dropdown-trigger-icon {
        transform: rotateX(180deg);
    }
}