.jdd.dropdown-trigger {
    height: max-content;
    width: max-content;
    border-radius: var(--jdd-border-radius);

    > .jdd.button {
        gap: .5rem;
    }

    .dropdown-trigger-icon {
        transition: transform var(--jdd-transition-duration) var(--jdd-transition-function);
        display: flex;
        align-items: center;

        &:only-child {
            margin: 0 -.5rem;
        }

        .icon {
            line-height: 1.25rem;
            font-size: 1.25rem;
        }

        &[data-expanded] {
            transform: rotateX(180deg);
        }
    }
}