{
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    ["@semantic-release/github", {
        "successComment": ":tada: This ${issue.pull_request ? 'PR is included' : 'issue has been resolved'} in version ${nextRelease.version} :tada:\n\nThe release is available on npm [@jundao/design@${nextRelease.version}](https://www.npmjs.com/package/@jundao/design/v/${nextRelease.version}) and [GitHub release](https://github.com/jundaoapp/design/releases/tag/v${nextRelease.version})",
    }]
  ]
}
