button.jdd.button {
  color: var(--jdd-gray-11);
  background-color: var(--jdd-gray-1);
  padding: .4rem 1rem;
  border: 1px solid var(--jdd-gray-4);
  border-radius: var(--jdd-border-radius);
  box-shadow: var(--jdd-shadow-small);
  cursor: pointer;
  transition: var(--jdd-transition-colors), translateX 0.2s var(--jdd-transition-function);
  font-size: .9rem;
  touch-action: manipulation;

  .jdd-dark & {
    color: var(--jdd-gray-1);
    background-color: transparent;
    border-color: var(--jdd-gray-9);

    &:disabled {
      color: var(--jdd-gray-5);
      background-color: var(--jdd-gray-11);
      border-color: var(--jdd-gray-8);
    }
  }

  @import "primary";

  &.dashed {
    border-style: dashed;
    border-color: var(--jdd-gray-5);

    &:disabled {
      border-color: var(--jdd-gray-4);
    }

    .jdd-dark &:disabled {
      border-color: var(--jdd-gray-8);
    }
  }

  &.small {
    font-size: .8rem;
    padding: .25rem .5rem;

    .jdd.spinner {
        height: .6rem;
        width: .6rem;

        &:not(:only-child) {
            margin-right: .5rem;
        }
    }
  }

  &.large {
    font-size: 1.15rem;
    padding: .65rem 1.15rem;

    .jdd.spinner {
        height: 1rem;
        width: 1rem;

        &:not(:only-child) {
            margin-right: 1rem;
        }
    }
  }

  &.danger {
    border-color: var(--jdd-red-6);
    color: var(--jdd-red-6);

    &:not(:disabled) {
      &:hover, &:focus-visible, &.loading {
        color: var(--jdd-red-5);
        border-color: var(--jdd-red-5);
      }

      &:active {
        color: var(--jdd-red-8);
        border-color: var(--jdd-red-8);
        outline: solid .15rem rgba(var(--jdd-red-6-rgb), 0.25);
      }
    }

    &:disabled {
      border-color: var(--jdd-gray-4);
    }

    .jdd-dark &:disabled {
      color: var(--jdd-gray-5);
      border-color: var(--jdd-gray-8);
    }
  }

  &:not(:disabled) {
    &:hover, &:focus-visible, &.loading {
      color: var(--jdd-blue-5);
      border-color: var(--jdd-blue-5);
    }

    &:active {
      color: var(--jdd-blue-7);
      border-color: var(--jdd-blue-7);
      outline: solid .15rem rgba(var(--jdd-blue-6-rgb), 0.25);
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--jdd-gray-10);
    background-color: var(--jdd-gray-2);
    border-color: var(--jdd-gray-5);
    box-shadow: none;
  }

  .jdd.spinner {
      height: .8rem;
      width: .8rem;

      &:not(:only-child) {
          margin-right: .75rem;
      }
  }
}