span.jdd.text {
  color: var(--jdd-gray-11);
  line-height: 1.5715;

  .jdd-dark &, .jdd-dark & mark {
    color: var(--jdd-gray-1);
  }

  &.secondary, &.secondary mark {
    color: var(--jdd-gray-8);

    .jdd-dark & {
      color: var(--jdd-gray-5);
    }
  }

  &.success, &.success mark {
    color: var(--jdd-green-6);
  }

  &.warning, &.warning mark {
    color: var(--jdd-orange-6);
  }

  &.danger, &.danger mark {
    color: var(--jdd-red-6);
  }

  u {
    text-decoration: underline;
  }

  del {
    text-decoration: line-through;
  }

  strong {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }

  mark {
    background-color: rgba(var(--jdd-blue-5-rgb), 0.5);
  }

  > code {
    font-family: var(--jdd-font-mono);
    margin: 0 .2em;
    padding: .2em .4em .1em;
    font-size: 85%;
    background: rgba(150, 150, 150, .1);
    border: 1px solid rgba(100, 100, 100, .2);
    border-radius: 3px;
  }

  > kbd {
    font-family: var(--jdd-font-mono);
    margin: 0 .2em;
    padding: .15em .4em .1em;
    font-size: 90%;
    background: rgba(150, 150, 150, .06);
    border: 1px solid rgba(100, 100, 100, .2);
    border-bottom-width: 2px;
    border-radius: 3px;
  }
}