span.jdd.text {
  color: var(--jdd-gray-15);
  line-height: 1.5715;

  .jdd-dark &, .jdd-dark & mark.jdd.text {
    color: var(--jdd-gray-1);
  }

  &.secondary, &.secondary mark.jdd.text {
    color: var(--jdd-gray-8);

    .jdd-dark & {
      color: var(--jdd-gray-6);
    }
  }

  &.success, &.success mark.jdd.text {
    color: var(--jdd-green-6);
  }

  &.warning, &.warning mark.jdd.text {
    color: var(--jdd-orange-6);
  }

  &.danger, &.danger mark.jdd.text {
    color: var(--jdd-red-6);
  }

  u.jdd.text {
    text-decoration: underline;
  }

  del.jdd.text {
    text-decoration: line-through;
  }

  strong.jdd.text {
    font-weight: bold;
  }

  i.jdd.text {
    font-style: italic;
  }

  mark.jdd.text {
    background-color: rgba(var(--jdd-blue-5-rgb), 0.5);
  }

  > code.jdd.text {
    font-family: var(--jdd-font-mono);
    margin: 0 .2em;
    padding: .2em .4em .1em;
    font-size: 85%;
    background: rgba(150, 150, 150, .1);
    border: 1px solid rgba(100, 100, 100, .2);
    border-radius: 3px;
  }

  > kbd.jdd.text {
    font-family: var(--jdd-font-mono);
    margin: 0 .2em;
    padding: .15em .4em .1em;
    font-size: 90%;
    background: rgba(150, 150, 150, .06);
    border: 1px solid rgba(100, 100, 100, .2);
    border-bottom-width: 2px;
    border-radius: 3px;
  }

    &.small {
      font-size: .8rem;
  }

    &.large {
      font-size: 1.2rem;
  }
}