&.primary {
  background-color: var(--jdd-blue-6);
  border-color: var(--jdd-blue-6);
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);

  .jdd-dark & {
    &:not(:disabled) {
      &:hover, &:focus-visible {
        background-color: var(--jdd-blue-7);
        border-color: var(--jdd-blue-7);
      }

      &:active, .active {
        background-color: var(--jdd-blue-4);
        border-color: var(--jdd-blue-4);
      }
    }

    &:disabled {
      border-color: var(--jdd-gray-7);
    }
  }

  &.danger {
    background-color: var(--jdd-red-6);
    border-color: var(--jdd-red-6);
    color: white;

    .jdd-dark & {
      &:not(:disabled) {
        &:hover, &:focus-visible {
          background-color: var(--jdd-red-7);
          border-color: var(--jdd-red-7);
        }

        &:active, .active {
          background-color: var(--jdd-red-4);
          border-color: var(--jdd-red-4);
        }
      }

      &:disabled {
        color: var(--jdd-gray-6);
        background-color: var(--jdd-gray-8);
        border-color: var(--jdd-gray-7);
      }
    }

    &:not(:disabled) {
      &:hover, &:focus-visible {
        background-color: var(--jdd-red-4);
        border-color: var(--jdd-red-4);
        color: var(--jdd-gray-1);
      }

      &:active, .active {
        background-color: var(--jdd-red-7);
        border-color: var(--jdd-red-7);
        color: var(--jdd-gray-1);
      }
    }

    &:disabled {
      color: var(--jdd-gray-6);
      background-color: var(--jdd-gray-1)
    }
  }

  &:not(:disabled) {
    &:hover, &:focus-visible {
      background-color: var(--jdd-blue-5);
      border-color: var(--jdd-blue-5);
      color: var(--jdd-gray-1);
    }

    &:active, .active {
      background-color: var(--jdd-blue-7);
      border-color: var(--jdd-blue-7);
      color: var(--jdd-gray-1);
    }
  }

  &:disabled {
    border-color: var(--jdd-gray-4);
  }
}