:root {
	--jdd-gray-1: oklch(100% 0 0);
	--jdd-gray-2: oklch(98.3% 0.004 236.5);
	--jdd-gray-3: oklch(96.6% 0.005 258.3);
	--jdd-gray-4: oklch(94.7% 0.007 247.9);
	--jdd-gray-5: oklch(87.6% 0.008 241.7);
	--jdd-gray-6: oklch(78.3% 0.011 248);
	--jdd-gray-7: oklch(61.8% 0.011 252.9);
	--jdd-gray-8: oklch(44.7% 0.008 248);
	--jdd-gray-9: oklch(36.6% 0.007 248);
	--jdd-gray-10: oklch(25.9% 0.005 248);
	--jdd-gray-11: oklch(22.9% 0.004 229);
	--jdd-gray-12: oklch(19.5% 0.003 248);
	--jdd-gray-13: oklch(16.3% 0.003 248);
	--jdd-gray-14: oklch(15.3% 0.002 197);
	--jdd-gray-15: oklch(14.8% 0.002 197);
	--jdd-gray-16: oklch(13.8% 0.002 196.9);
	--jdd-gray-17: oklch(10.8% 0.004 285.8);
	--jdd-gray-18: oklch(0% 0 0);
	--jdd-red-1: oklch(96.7% 0.016 22.1);
	--jdd-red-2: oklch(88.6% 0.06 24.7);
	--jdd-red-3: oklch(80.4% 0.111 22.5);
	--jdd-red-4: oklch(72.9% 0.167 22.9);
	--jdd-red-5: oklch(67.2% 0.215 24.3);
	--jdd-red-6: oklch(62% 0.236 25.8);
	--jdd-red-7: oklch(54.1% 0.213 25.8);
	--jdd-red-8: oklch(45.7% 0.182 25.3);
	--jdd-red-9: oklch(37.6% 0.152 24);
	--jdd-red-10: oklch(29.8% 0.12 21.1);
	--jdd-orange-1: oklch(96.4% 0.022 58.8);
	--jdd-orange-2: oklch(90.4% 0.058 54.2);
	--jdd-orange-3: oklch(84.2% 0.096 49.5);
	--jdd-orange-4: oklch(78.7% 0.132 45);
	--jdd-orange-5: oklch(72.8% 0.174 41.1);
	--jdd-orange-6: oklch(66.6% 0.21 36.9);
	--jdd-orange-7: oklch(57.2% 0.198 34.3);
	--jdd-orange-8: oklch(47.8% 0.177 32.8);
	--jdd-orange-9: oklch(39.5% 0.149 32.1);
	--jdd-orange-10: oklch(31.5% 0.119 32.1);
	--jdd-yellow-1: oklch(98.3% 0.028 95.9);
	--jdd-yellow-2: oklch(95.3% 0.075 95.1);
	--jdd-yellow-3: oklch(92.3% 0.11 92.6);
	--jdd-yellow-4: oklch(89% 0.137 89.2);
	--jdd-yellow-5: oklch(85.2% 0.157 83.6);
	--jdd-yellow-6: oklch(80% 0.165 76.4);
	--jdd-yellow-7: oklch(68.8% 0.147 70.5);
	--jdd-yellow-8: oklch(58.1% 0.129 65.9);
	--jdd-yellow-9: oklch(47% 0.107 63.1);
	--jdd-yellow-10: oklch(37.1% 0.086 60.6);
	--jdd-green-1: oklch(98.6% 0.03 129.7);
	--jdd-green-2: oklch(94% 0.081 130.4);
	--jdd-green-3: oklch(88% 0.13 132.7);
	--jdd-green-4: oklch(82.3% 0.172 134.4);
	--jdd-green-5: oklch(77.4% 0.202 136.4);
	--jdd-green-6: oklch(73.1% 0.22 138.4);
	--jdd-green-7: oklch(62.1% 0.193 139.3);
	--jdd-green-8: oklch(49.9% 0.159 140.1);
	--jdd-green-9: oklch(38.1% 0.123 140.1);
	--jdd-green-10: oklch(24.3% 0.077 139.1);
	--jdd-blue-1: oklch(96.3% 0.022 230.5);
	--jdd-blue-2: oklch(90% 0.059 231.5);
	--jdd-blue-3: oklch(83.7% 0.093 237.4);
	--jdd-blue-4: oklch(78.2% 0.122 241.9);
	--jdd-blue-5: oklch(71.7% 0.156 247.1);
	--jdd-blue-6: oklch(65.1% 0.191 252.8);
	--jdd-blue-7: oklch(54.1% 0.183 256.4);
	--jdd-blue-8: oklch(45.4% 0.17 258.3);
	--jdd-blue-9: oklch(36.8% 0.144 259.2);
	--jdd-blue-10: oklch(29.4% 0.119 259.8);
	--jdd-purple-1: oklch(96.4% 0.023 310.7);
	--jdd-purple-2: oklch(91.8% 0.052 309);
	--jdd-purple-3: oklch(80.1% 0.114 307.7);
	--jdd-purple-4: oklch(68.9% 0.161 304.8);
	--jdd-purple-5: oklch(58.4% 0.201 301.2);
	--jdd-purple-6: oklch(49.3% 0.228 295.2);
	--jdd-purple-7: oklch(40.8% 0.201 292.1);
	--jdd-purple-8: oklch(32.7% 0.171 288.5);
	--jdd-purple-9: oklch(25.3% 0.135 286.3);
	--jdd-purple-10: oklch(18.1% 0.099 285.7);
	--jdd-magenta-1: oklch(96.6% 0.019 352.6);
	--jdd-magenta-2: oklch(91.6% 0.051 351.3);
	--jdd-magenta-3: oklch(83.7% 0.106 351);
	--jdd-magenta-4: oklch(76.7% 0.162 351.5);
	--jdd-magenta-5: oklch(69.5% 0.207 352.1);
	--jdd-magenta-6: oklch(63.2% 0.235 352.9);
	--jdd-magenta-7: oklch(54.9% 0.212 352);
	--jdd-magenta-8: oklch(46.6% 0.186 350.5);
	--jdd-magenta-9: oklch(38.6% 0.157 348.9);
	--jdd-magenta-10: oklch(29.9% 0.123 346.1);
}
