@import "reset";
@import "colors";

@import "variables";

.jdd {
  font-family: var(--jdd-font-sans);

  &.focus-ring, &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    outline: solid var(--jdd-blue-6) var(--jdd-accessibility-outline-width);

    .jdd-dark & {
      outline: solid var(--jdd-blue-5) var(--jdd-accessibility-outline-width);
    }
  }
}