:root {
  --jdd-font-sans: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
  --jdd-font-mono: "JetBrains Mono", SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;

  --jdd-border-radius: .75rem;
  --jdd-border-radius-small: .5rem;
  --jdd-border-radius-large: 1rem;

  --jdd-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  --jdd-shadow-small: 0 .125rem .25rem rgba(0, 0, 0, .075);
  --jdd-shadow-large: 0 1rem 3rem rgba(0, 0, 0, .175);

  --jdd-transition-duration: .3s;
  --jdd-transition-function: cubic-bezier(.645,.045,.355,1);
  --jdd-transition-colors: color var(--jdd-transition-duration) var(--jdd-transition-function), background-color var(--jdd-transition-duration) var(--jdd-transition-function), border-color var(--jdd-transition-duration) var(--jdd-transition-function), text-decoration-color var(--jdd-transition-duration) var(--jdd-transition-function), fill var(--jdd-transition-duration) var(--jdd-transition-function), stroke var(--jdd-transition-duration) var(--jdd-transition-function);

  --jdd-accessibility-outline-width: 4px;
}