div.jdd.card {
    border-radius: var(--jdd-border-radius-large);
    background: var(--jdd-gray-1);
    overflow: hidden;
    box-shadow: var(--jdd-shadow);
    border: 1px solid var(--jdd-gray-2);

    > .title {
        font-size: 1.15rem;
        background: var(--jdd-gray-2);
        padding: .5rem 1.5rem;

        .collapse-toggle {
            float: right;
            cursor: pointer;
            margin-bottom: -100%;
            margin-top: -.25rem;
            transition: transform var(--jdd-transition-duration) var(--jdd-transition-function);
            margin-right: -.5rem;
            background: none;
            border: none;
            height: calc(100% - 1rem);
            width: 2rem;
            display: block;

            .icon {
                font-size: 1.5rem;
            }
        }
    }

    &[data-expanded] {
        > .content {
            overflow: hidden;
            animation: jdd-card-open var(--jdd-transition-duration) var(--jdd-transition-function);
        }
    }

    &:not([data-expanded]) {

        > .title {
            .collapse-toggle {
                transform: rotateX(180deg);
            }
        }

        > .content.content {
            animation: jdd-card-collapse var(--jdd-transition-duration) var(--jdd-transition-function);
        }
    }

    &:not(.no-padding) > .content {
        padding: 1.25rem 1.5rem;
    }

    &.small {
        > .title {
            padding: .25rem 1.1rem;
        }

        &:not(.no-padding) > .content {
            padding: .9rem 1.1rem;
        }
    }

    .jdd-dark & {
        background: var(--jdd-gray-14);
        box-shadow: none;
        border: none;

        > .title {
            background: var(--jdd-gray-13);
        }
    }
}

@keyframes jdd-card-open {
    from {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
  to {
        height: calc(var(--kb-collapsible-content-height) - 45px);
    }
}
@keyframes jdd-card-collapse {
    from {
        height: calc(var(--kb-collapsible-content-height) - 45px);
    }
  to {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}