div.jdd.space {
  display: inline-flex;
  align-items: center;
  gap: .5rem;

  &.medium {
    gap: 1rem;
  }

  &.large {
    gap: 1.5rem;
  }

  &.vertical {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.start {
    align-items: start;
  }

  &.end {
    align-items: end;
  }

  .jdd.jdd-divider {
    margin: 0;
  }
}