.jdd.alert {
    width: 100%;
    box-sizing: border-box;
    padding: 1.25rem 2rem;
    border-radius: var(--jdd-border-radius);
    position: relative;
    transition: max-height var(--jdd-transition-duration) var(--jdd-transition-function), padding var(--jdd-transition-duration) var(--jdd-transition-function), opacity var(--jdd-transition-duration) var(--jdd-transition-function);
    overflow: hidden;
    background: var(--jdd-gray-4);
    border-left-width: .4rem;
    border-left-style: solid;

    &:not(.banner) {
        border-left-color: var(--jdd-gray-6);
    }

    .alert-icon, .jdd.text.text {
        color: var(--jdd-gray-15);

        .jdd-dark & {
            color: var(--jdd-gray-1);
        }
    }

    &.info {
        border-left-color: var(--jdd-blue-6);
        .alert-icon {
            color: var(--jdd-blue-6);
        }
    }

    &.error {
        border-left-color: var(--jdd-red-6);
        .alert-icon {
            color: var(--jdd-red-6);
        }
    }

    &.success {
        border-left-color: var(--jdd-green-6);
        .alert-icon {
            color: var(--jdd-green-6);
        }
    }

    &.warning {
        border-left-color: var(--jdd-orange-6);
        .alert-icon {
            color: var(--jdd-orange-6);
        }
    }

    &.icon {
        padding-left: 3rem;
    }

    &.closable {
        padding-right: 3rem;
    }

    &.banner {
        border-radius: 0;
        border-left-color: transparent;

        .alert-icon, .jdd.text.text {
            color: var(--jdd-gray-15);

            .jdd-dark & {
                color: var(--jdd-gray-1);
            }
        }

        &.info {
            background: var(--jdd-blue-6);
        }

        &.error {
            background: var(--jdd-red-6);
        }

        &.success {
            background: var(--jdd-green-6);
        }

        &.warning {
            background: var(--jdd-orange-6);
        }

        &.info, &.success, &.warning, &.error {
            .alert-icon, .jdd.text.text {
                color: var(--jdd-gray-1);
            }

            button.alert-close {
                color: var(--jdd-gray-1);

                &.focus-ring, &:focus-visible {
                    outline: solid var(--jdd-gray-1) var(--jdd-accessibility-outline-width);
                }

                &:hover, &:focus {
                    color: var(--jdd-gray-5);
                }
            }
        }
    }

    .alert-icon {
        font-size: 1.5rem;
        position: absolute;
        left: 1rem;
    }

    &:not(.description) {
        .alert-icon, button.alert-close {
            top: 0;
            display: flex;
            height: 100%;
            align-items: center;
        }
        button.alert-close {
            height: calc(100% - .6rem);
        }
    }

    &.description {
        &.icon {
            padding-left: 3.75rem;
        }

        .alert-icon {
            font-size: 2rem;
            line-height: 2rem;
            top: 1.25rem;
        }
    }

    .alert-description {
        font-size: .95rem;
        display: block;
        padding-top: .75rem;
    }

    button.alert-close {
        background: none;
        border: none;
        position: absolute;
        right: 1rem;
        top: 1.25rem;
        font-size: 2rem;
        cursor: var(--jdd-button-cursor);
        transition: var(--jdd-transition-colors);
        margin: .3rem 0;
        color: var(--jdd-gray-9);

        &:hover, &:focus {
            color: var(--jdd-gray-7);
        }
    }

    .jdd-dark & {
        background: var(--jdd-gray-10);

        &:not(.banner):not(.info):not(.success):not(.warning):not(.error) {
            border-left-color: var(--jdd-gray-8);
        }

        button.alert-close {
            color: var(--jdd-gray-5);

            &:hover, &:focus {
                color: var(--jdd-gray-7);
            }
        }
    }

    &.alert-animation-enter {
        max-height: 0;
        opacity: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

    &.alert-animation-enter-to {
        max-height: 999vh;
        opacity: 1;
    }

    &.alert-animation-exit {
        max-height: 999vh;
        opacity: 1;
    }

    &.alert-animation-exit-to {
        max-height: 0;
        opacity: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}