.jdd.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(var(--jdd-gray-15-rgb), 0.2);
    animation-name: jdd-modal-exit;
    animation-timing-function: var(--jdd-transition-function);
    animation-duration: var(--jdd-transition-duration);
    animation-fill-mode: forwards;

    .jdd-dark & {
        background: rgba(var(--jdd-gray-1-rgb), 0.15);
    }

    &[data-expanded] {
        animation-name: jdd-modal-enter;
    }
}

.jdd.modal {
    top: 0;
    left: 0;
    position: fixed;
    max-width: min(90vw, 40rem);
    transition-property: var(--jdd-modal-transition-property);
    transition-duration: var(--jdd-transition-duration);
    transition-timing-function: var(--jdd-transition-function);
    transform: translate(var(--jdd-modal-position));
    animation-name: jdd-modal-exit;
    animation-timing-function: var(--jdd-transition-function);
    animation-duration: var(--jdd-transition-duration);
    animation-fill-mode: forwards;

    --jdd-modal-transition-property: transform;

    .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        .title {
            margin-bottom: 0;
        }
    }

    .modal-footer {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        margin-top: 1rem;
        gap: .75rem;
    }

    .modal-close {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        font-size: 2rem;
        height: 2rem;
        line-height: 2rem;
        color: var(--jdd-gray-9);
        margin: 0 -.5rem 0 1rem;

      &:hover, &:focus {
            color: var(--jdd-gray-7);
        }

        .jdd-dark & {
            color: var(--jdd-gray-1);

            &:hover, &:focus {
                color: var(--jdd-gray-5);
            }
        }
    }

    &[data-expanded] {
        animation-name: jdd-modal-enter;

        > .card {
            animation-name: jdd-modal-modal-enter;
        }
    }

    > .card {
        animation-name: jdd-modal-modal-exit;
        animation-timing-function: var(--jdd-transition-function);
        animation-duration: var(--jdd-transition-duration);
        animation-fill-mode: forwards;
    }
}

.jdd.modal-wrapper {
    position: relative;
    --jdd-overlay-zindex-increment: 0;
    z-index: calc(100 + var(--jdd-overlay-zindex-increment));

}

@keyframes jdd-modal-enter {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes jdd-modal-exit {
    to {
        opacity: 0;
    }
}

@keyframes jdd-modal-modal-enter {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes jdd-modal-modal-exit {
    to {
        transform: scale(0);
    }
}