input.jdd.checkbox {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: var(--jdd-border-radius-small);
  appearance: none;
  border: 1px solid var(--jdd-gray-5);
  cursor: pointer;
  transition: var(--jdd-transition-colors);
  background-size: contain;

  .jdd-dark & {
    color: var(--jdd-gray-1);
    border-color: var(--jdd-gray-9);

    &:disabled {
      color: var(--jdd-gray-8);
      border-color: var(--jdd-gray-8);
      background-color: var(--jdd-gray-10);
    }
    &:not(:disabled) {
      &:checked,
      &[value="indeterminate"] {
        &:hover,
        &:focus-visible {
          background-color: var(--jdd-blue-7);
          border-color: var(--jdd-blue-7);

          &.danger {
              background-color: var(--jdd-red-7);
              border-color: var(--jdd-red-7);
          }
        }
      }
      &:hover,
      &:focus-visible {
        background-color: var(--jdd-gray-11);
      }
    }
  }

  &:checked,
  &[value="indeterminate"] {
    background-color: var(--jdd-blue-6);
    border-color: var(--jdd-blue-6);
    color: var(--jdd-gray-1);

    &.danger {
        background-color: var(--jdd-red-6);
        border-color: var(--jdd-red-6);
    }
  }

  &:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='white' d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z'/%3E%3C/svg%3E");
  }

  &[value="indeterminate"]:not(:checked) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='white' d='M5 11h14v2H5z'/%3E%3C/svg%3E");
  }

  &:disabled {
    cursor: not-allowed;
    border-color: var(--jdd-gray-6);
    background-color: var(--jdd-gray-3);

    &:checked {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23b3b9bf' d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z'/%3E%3C/svg%3E");
    }

    &[value="indeterminate"]:not(:checked) {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23b3b9bf' d='M5 11h14v2H5z'/%3E%3C/svg%3E");
    }
  }

  &:not(:disabled) {
    &:checked,
    &[value="indeterminate"] {
      &:hover,
      &:focus-visible {
        background-color: var(--jdd-blue-5);
        border-color: var(--jdd-blue-5);

        &.danger {
            background-color: var(--jdd-red-5);
            border-color: var(--jdd-red-5);
        }
      }
    }
    &:hover,
    &:focus-visible {
      background-color: var(--jdd-gray-2);
      border-color: var(--jdd-blue-6);

      &.danger {
          border-color: var(--jdd-red-6);
      }
    }
  }

  &.small {
    height: 1rem;
    width: 1rem;
  }

  &.large {
    height: 1.5rem;
    width: 1.5rem;
  }
}