div.jdd.jdd-divider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.5715;
  border-top: 1px;
  border-style: solid;
  color: var(--jdd-gray-5);
  border-color: var(--jdd-gray-5);

  .jdd-dark & {
    color: var(--jdd-gray-8);
    border-color: var(--jdd-gray-8);
  }

  &:not(.with-text):not(.vertical) {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 24px 0;
  }

  &:not(.with-text).vertical {
    position: relative;
    top: -.06em;
    display: inline-block;
    height: .9em;
    margin: 0 8px;
    vertical-align: middle;
    border-top: 0;
    border-left: 1px;
    border-left-style: solid;

    &.dashed {
      border-left-style: dashed;
    }
  }

  &.dashed {
    border-style: dashed;

    &.with-text {
      &:after, &:before {
        border-top-style: dashed;
      }
    }
  }

  &.with-text {
    display: flex;
    margin: 16px 0;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-align: center;
    border-top: 0;

    > span.jdd {
      display: inline-block;
      padding: 0 1em;
      white-space: nowrap;
      text-align: center;
    }

    &:after, &:before {
      position: relative;
      width: 50%;
      border-top: 1px solid;
      border-bottom: 0;
      transform: translateY(50%);
      content: "";
    }

    &.left {
      &:before {
        width: 5%;
      }
      &:after {
        width: 95%;
      }
    }

    &.right {
      &:before {
        width: 95%;
      }
      &:after {
        width: 5%;
      }
    }
  }
}