.jdd.avatar {
    > .jdd.image {
        height: 3rem;
        width: 3rem;
        display: flex;
        font-size: 1.5rem;
    }

    &.small > .jdd.image {
        height: 1.5rem;
        width: 1.5rem;

        > .image-fallback {
            font-size: .75rem;
        }

        &.rounded {
            border-radius: var(--jdd-border-radius-small);
        }
    }

    &.large > .jdd.image {
        height: 5rem;
        width: 5rem;

        > .image-fallback {
            font-size: 2.5rem;
        }
    }
}

.jdd.avatar-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    &:not(.no-overlap) > *:not(:last-child) {
        margin-left: -.75rem;
    }

    &.no-overlap {
        gap: .25rem;
    }

    .jdd.avatar > .jdd.image {
        border: .15rem solid var(--jdd-gray-1);

        .jdd-dark & {
            border-color: var(--jdd-gray-13)
        }
    }

    &.small {
        &:not(.no-overlap) > *:not(:last-child) {
            margin-left: -.5rem;
        }

        &.no-overlap {
            gap: .1rem;
        }
    }

    &.large {
        &:not(.no-overlap) > *:not(:last-child) {
            margin-left: -1rem;
        }

        &.no-overlap {
            gap: .5rem;
        }
    }

    .jdd.link, button.jdd {
        // Only required for Firefox, should be removed when css :has selector is officially enabled
        // https://developer.mozilla.org/en-US/docs/Web/CSS/:has#browser_compatibility
        border-radius: 9999px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;

        .jdd.avatar {
            transition: transform var(--jdd-transition-duration) var(--jdd-transition-function);

            &:hover, &:focus-visible {
                transform: translateY(-10%);
            }
        }
    }
}