i.jdd.icon {
  color: var(--jdd-gray-11);
  text-rendering: optimizelegibility;
  font-size: 1em;

  .jdd-dark & {
    color: var(--jdd-gray-1);
  }

  &.spin {
    animation: jdd-icon-spin 1s infinite linear;
  }
}

@keyframes jdd-icon-spin {
  to {
    transform:rotate(360deg)
  }
}