a.jdd.link {
  color: var(--jdd-gray-11);
  cursor: not-allowed;
  text-decoration: underline solid transparent;

  .jdd-dark & {
    color: var(--jdd-gray-1);
  }

  &:not([data-disabled]) {
    cursor: pointer;
    color: var(--jdd-blue-6);
    transition: text-decoration var(--jdd-transition-function) var(--jdd-transition-duration), var(--jdd-transition-colors);

    &[data-hover], &[data-focus-visible] {
      color: var(--jdd-blue-5);
      text-decoration: underline solid Currentcolor;

      .jdd-dark & {
        color: var(--jdd-blue-7);
      }
    }

    &.secondary {
      color: var(--jdd-gray-8);

      .jdd-dark & {
        color: var(--jdd-gray-5);
      }

      &[data-hover], &[data-focus-visible] {
        color: var(--jdd-gray-7);

        .jdd-dark & {
          color: var(--jdd-gray-6);
        }
      }
    }

    &.success {
      color: var(--jdd-green-6);

      &[data-hover], &[data-focus-visible] {
        color: var(--jdd-green-5);

        .jdd-dark & {
          color: var(--jdd-green-7);
        }
      }
    }

    &.warning {
      color: var(--jdd-orange-6);

      &[data-hover], &[data-focus-visible] {
        color: var(--jdd-orange-5);

        .jdd-dark & {
          color: var(--jdd-orange-7);
        }
      }
    }

    &.danger {
      color: var(--jdd-red-6);

      &[data-hover], &[data-focus-visible] {
        color: var(--jdd-red-5);

        .jdd-dark & {
          color: var(--jdd-red-7);
        }
      }
    }

    &[target="_blank"] {
      display: inline-block;
      transition: var(--jdd-transition-colors), transform var(--jdd-transition-duration) var(--jdd-transition-function);

      &[data-hover], &[data-focus-visible] {
        transform: translateY(-1px) translateX(1px);
      }
    }
  }

  &:has(.jdd.avatar) {
      border-radius: 9999px;
  }
}